name: Destroy Infrastructure

on:
  workflow_dispatch:      
  push:
    branches: [ 404-not-found-deployment-testing ]   

concurrency:
  group: ecr-ecs-deploy
  cancel-in-progress: true

jobs:
  destroy-ecs:
    runs-on: ubuntu-latest
    env:
      AWS_REGION: us-east-1
      TF_API_TOKEN: ${{ secrets.TF_API_TOKEN }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Authenticate with Terraform Cloud
        run: |
          echo 'credentials "app.terraform.io" { token = "${{ secrets.TF_API_TOKEN }}" }' > ~/.terraformrc

      - name: Terraform init (ECS workspace)
        working-directory: terraform/ecs
        run: terraform init -reconfigure

      - name: Terraform destroy (ECS stack)
        working-directory: terraform/ecs
        run: terraform destroy -auto-approve || echo "Nothing to destroy"
