name: Playwright Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'

      - name: Install dependencies
        run: npm install

      - name: Install Server dependencies
        working-directory: server
        run: npm install cross-env

      - name: Install Frontend dependencies
        working-directory: frontend
        run: npm install

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      #  Change test command here:
      - name: Run Playwright tests (frontend + backend)
        run: npm run test:frontend

      - name: Upload Playwright report
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30

